<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Test Data Definition Editor"
            extensions="tdf"
            icon="icons/testdata.png"
            contributorClass="cn.shaviation.autotest.editors.MultiPageEditorContributor"
            class="cn.shaviation.autotest.editors.TestDataEditor"
            id="cn.shaviation.autotest.editors.TestDataEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="cn.shaviation.autotest">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/testdata.png"
            category="cn.shaviation.autotest"
            class="cn.shaviation.autotest.wizards.SampleNewWizard"
            id="cn.shaviation.autotest.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
