<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="nature"
         name="Automatic Testing Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="cn.shaviation.autotest.core.internal.natures.AutoTestProjectNature" />
      </runtime>
      <builder id="cn.shaviation.autotest.core.builder" />
   </extension>
   <extension point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/nature.gif"
            id="cn.shaviation.autotest.core.decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <objectState name="nature" value="cn.shaviation.autotest.core.nature"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="builder"
         name="Automatic Testing Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run class="cn.shaviation.autotest.core.internal.builders.AutoTestProjectBuilder" />
      </builder>
   </extension>
   <extension
         id="problemmarker"
         name="Test Data Problem"
         point="org.eclipse.core.resources.markers">
      <persistent value="true" />
      <super type="org.eclipse.core.resources.problemmarker" />
   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="cn.shaviation.autotest.launching.AutoTestLaunchConfigType"
            delegate="cn.shaviation.autotest.core.internal.launching.AutoTestLaunchDelegate"
            name="Automatic Testing"
            modes="run,debug"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            properties="canLaunch"
            namespace="cn.shaviation.autotest.launching"
            type="org.eclipse.core.runtime.IAdaptable"
            class="cn.shaviation.autotest.core.internal.launching.AutoTestPropertyTester"
            id="cn.shaviation.autotest.launching.AutoTestPropertyTester">
      </propertyTester>
   </extension>

</plugin>
