<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Test Data Editor"
            extensions="tdd"
            icon="icons/testdata.png"
            contributorClass="cn.shaviation.autotest.ui.internal.editors.DocumentEditorContributor"
            class="cn.shaviation.autotest.ui.internal.editors.TestDataEditor"
            id="cn.shaviation.autotest.ui.editors.TestDataEditor">
      </editor>
      <editor
            name="Test Script Editor"
            extensions="tsc"
            icon="icons/script.png"
            contributorClass="cn.shaviation.autotest.ui.internal.editors.DocumentEditorContributor"
            class="cn.shaviation.autotest.ui.internal.editors.TestScriptEditor"
            id="cn.shaviation.autotest.ui.editors.TestScriptEditor">
      </editor>
      <editor
            name="Test Execution Viewer"
            extensions="trl"
            icon="icons/testexec.gif"
            launcher="cn.shaviation.autotest.ui.internal.editors.TestExecutionViewEditorLauncher"
            id="cn.shaviation.autotest.ui.editors.TestExecutionEditor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Automatic Testing"
            icon="icons/testexec.gif"
            category="org.eclipse.jdt.ui.java"
            fastViewWidthRatio="0.40"
            class="cn.shaviation.autotest.ui.internal.views.TestExecutionViewPart"
            id="cn.shaviation.autotest.ui.views.TestExecutionViewPart">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Automatic Testing Wizards"
            id="cn.shaviation.autotest.ui.wizards">
      </category>
      <wizard
            name="Automatic Testing Project"
            icon="icons/newjprj_wiz.gif"
            category="cn.shaviation.autotest.ui.wizards"
            class="cn.shaviation.autotest.ui.internal.wizards.NewProjectWizard"
            id="cn.shaviation.autotest.ui.wizards.NewProjectWizard"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective">
      </wizard>
      <wizard
            name="Test Data Definition file"
            icon="icons/testdata.png"
            category="cn.shaviation.autotest.ui.wizards"
            class="cn.shaviation.autotest.ui.internal.wizards.NewTestDataWizard"
            id="cn.shaviation.autotest.ui.wizards.NewTestDataWizard">
      </wizard>
      <wizard
            name="Test Script file"
            icon="icons/script.png"
            category="cn.shaviation.autotest.ui.wizards"
            class="cn.shaviation.autotest.ui.internal.wizards.NewTestScriptWizard"
            id="cn.shaviation.autotest.ui.wizards.NewTestScriptWizard">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="cn.shaviation.autotest.launching.AutoTestLaunchConfigType"
            icon="icons/script.png"
            id="cn.shaviation.autotest.launching.AutoTestLaunchConfigTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="cn.shaviation.autotest.ui.internal.launching.AutoTestLaunchShortcut"
            icon="icons/script.png"
            id="cn.shaviation.autotest.launching.AutoTestLaunchShortcut"
            label="Launch Automatic Testing"
            modes="run,debug">
         <configurationType
               id="cn.shaviation.autotest.launching.AutoTestLaunchConfigType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1" />
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IResource">
                        <test property="cn.shaviation.autotest.launching.canLaunch" />
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="cn.shaviation.autotest.launching.AutoTestLaunchConfigType"
            class="cn.shaviation.autotest.ui.internal.launching.AutoTestLaunchConfigTabGroup"
            id="cn.shaviation.autotest.launching.AutoTestLaunchConfigTabGroup">
            <launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective">
            </launchMode>
            <launchMode
                  mode="run">
            </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   
</plugin>
